Source: upower
Section: admin
Priority: optional
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Uploaders: Michael Biebl <biebl@debian.org>, Martin Pitt <mpitt@debian.org>
Build-Depends: debhelper (>= 7),
 cdbs,
 autotools-dev,
 quilt,
 pkg-config,
 xsltproc,
 gtk-doc-tools,
 intltool (>= 0.40.0),
 libdbus-glib-1-dev (>= 0.76),
 libdbus-1-dev (>= 1.0),
 libglib2.0-dev (>= 2.21.5),
 libgudev-1.0-dev [linux-any],
 libkvm-dev [kfreebsd-any],
 libpolkit-gobject-1-dev (>= 0.91),
 libusb-1.0-0-dev (>= 1.0.0) [linux-any],
 libimobiledevice-dev (>= 0.9.7) [linux-any]
Standards-Version: 3.9.1
Vcs-Git: git://git.debian.org/git/pkg-utopia/upower.git
Vcs-Browser: http://git.debian.org/?p=pkg-utopia/upower.git;a=summary
Homepage: http://upower.freedesktop.org/

Package: upower
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, udev [linux-any], dbus
Recommends: pm-utils, policykit-1
Conflicts: devicekit-power
Replaces: devicekit-power
Description: abstraction for power management
 upower provides an interface to enumerate power sources on the system
 and control system-wide power management. Any application can access the
 org.freedesktop.UPower service on the system message bus. Some
 operations (such as suspending the system) are restricted using PolicyKit.

Package: upower-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Conflicts: devicekit-power-doc (<< 1:0)
Replaces: devicekit-power-doc (<< 1:0)
Suggests: devhelp
Description: abstraction for power management - documentation
 upower provides an interface to enumerate power sources on the system
 and control system-wide power management. Any application can access the
 org.freedesktop.UPower service on the system message bus. Some
 operations (such as suspending the system) are restricted using PolicyKit.

Package: libupower-glib1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: abstraction for power management - shared library
 upower provides an interface to enumerate power sources on the system
 and control system-wide power management. Any application can access the
 org.freedesktop.UPower service on the system message bus. Some
 operations (such as suspending the system) are restricted using PolicyKit.
 .
 This package contains the shared library to be used by applications.

Package: libupower-glib-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-dev, libupower-glib1 (= ${binary:Version})
Description: abstraction for power management - development files
 upower provides an interface to enumerate power sources on the system
 and control system-wide power management. Any application can access the
 org.freedesktop.UPower service on the system message bus. Some
 operations (such as suspending the system) are restricted using PolicyKit.
 .
 This package contains files that are needed to build applications.

Package: libdevkit-power-gobject1
Architecture: any
Section: oldlibs
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: devicekit-power
Description: abstraction for power management - shared library (old ABI)
 upower provides an interface to enumerate power sources on the system
 and control system-wide power management. Any application can access the
 org.freedesktop.UPower service on the system message bus. Some
 operations (such as suspending the system) are restricted using PolicyKit.
 .
 This package contains an old version of the shared library to be used by
 applications. It provides the same ABI as the old DeviceKit-power library, but
 works with upower.

Package: libdevkit-power-gobject-dev
Architecture: any
Section: oldlibs
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-dev, libdevkit-power-gobject1 (= ${binary:Version})
Description: abstraction for power management - development files (old API)
 upower provides an interface to enumerate power sources on the system
 and control system-wide power management. Any application can access the
 org.freedesktop.UPower service on the system message bus. Some
 operations (such as suspending the system) are restricted using PolicyKit.
 .
 This package contains development files for the  old version of the shared
 library. It provides the same API as the old DeviceKit-power library, but
 works with upower.

